<h1>Privacy Policy for Disc Golf Duels</h1>


<p>Disc Golf Duels values your privacy and does not share your personal data with any third parties. If you wish to
    delete your data, please follow these steps:</p>
<ul>
    <li>Remove your public profile.</li>

    <li>Delete your account via the account settings page.</li>
</ul>
For further details or support, feel free to contact us.